{% load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>RESERVATION | Le Bellreage -ル・ベルリアージュ-</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
</head>
<body>
<header>
    <a href="{% url 'index' %}"><h1 id="logo">Le Bellreage</h1></a>
    <nav>
        <a href="{% url hp %}#id_concept">CONCEPT</a> ｜
        <a href="{% url hp %}#id_menu">MENU</a> ｜
        <a href="{% url hp %}#id_staff">STAFF</a> ｜
        <a href="{% url hp %}#id_gallery">GALLERY</a> ｜
        <a href="{% url hp %}#id_reservation">RESERVATION</a> ｜
        <a href="{% url hp %}#id_access">ACCESS</a> ｜
        <a href="{% url 'contact' %}">CONTACT</a>
    </nav>
</header>

<!-- ▼▼コンタクトト▼▼ -->
<article id="id_admin">
    <h2 class="title">FOR ADMINISTRATOR</h2>
    <article>
        <table>
            <tr>
                <th>名前</th>
                <th>電話番号</th>
                <th>カテゴリー</th>
                <th>担当</th>
            </tr>
            <tr>
                <th>(カナ)</th>
                <th>メールアドレス</th>
                <th>問合せ内容</th>
                <th>送信日時</th>
            </tr>
            {% for item in data %}
                <tr>
                    <td>
                        {{ item.last_name }} {{ item.first_name }}
                    </td>
                    <td>{{ item.tel }}</td>
                    <td>{{ item.ctgry }}</td>
                    <td>{{ item.pcharge }}</td>
                </tr>
                <tr>
                    <td>
                        ({{ item.last_kana }} {{ item.first_kana }})
                    </td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.inquiry }}</td>
                    <td>{{ item.pub_date }}</td>
                </tr>
            {% endfor %}
        </table>
        <div id="page">
            <div>
                {% if data.has_previous %}
                    <a href="{% url 'message' %}">&laquo;first</a>
                    <a href="{% url 'message' %}{{data.previous_page_number}}">&laquo;prev</a>
                {% endif %}
            </div>
            <div>
                <span class="current">
                    [{{data.number}}/{{data.paginator.num_pages}}]
                </span>
            </div>
            <div>
                {% if data.has_next %}
                    <a href="{% url 'message' %}{{data.next_page_number}}">next&raquo;</a>
                    <a href="{% url 'message' %}{{data.paginator.num_pages}}">last&raquo;</a>
                {% endif %}
            </div>
        </div>
    </article>
</article>
<!-- ▲▲コンタクト▲▲ -->

<!-- ▼▼フッター▼▼ -->
<fotter>
    <h4>Le Bellreage</h4>　- ル・ベルリアージュ -<br>
    <ul>
        <li>
            <dl>
                <dt>住所</dt>
                <dd>名古屋市中区金山1-17-18</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>電話番号</dt>
                <dd>052-123-4567</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>メール</dt>
                <dd>info@LeBellreage.sample</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>営業時間</dt>
                <dd>
                    ［平日］11:00 - 21:00（L.O. カット19:30 パーマorカラー19:00)／縮毛矯正、デジタルパーマ等18:00<br>
                    ［土日祝］10:00 - 19:00（L.O. カット18:00 パーマorカラー17:00）／縮毛矯正、デジタルパーマ等16:00
                </dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>定休日</dt>
                <dd>木曜日</dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>最寄り駅</dt>
                <dd>
                    金山総合駅より徒歩1秒
                </dd>
            </dl>
        </li>
    </ul>
    <small>&copy;hllyosman All rights reserved.</small>
</fotter>
<!-- ▲▲フッター▲▲ -->

</body>
</html>